.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background: white;
  border-bottom: 1px solid #eeeeee;
  z-index: 3;

  .react-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
    &:hover{
      background: #eeeeee;
    }


      span{
        width: 30px;
        height: 1px;
        background: #a9a9a9;
        display: block;
        margin: 5px;
        transition: 0.5s;
      }
    span:nth-child(2){
      width: 25px;
      transform: translateX(-2.5px);
      transition: 0.5s;
    }
    &:hover span:nth-child(2){
      width: 30px;
      transform: translateX(0px);
    }
  }
  .logo{
    width: 106px;
    height: 45px;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .social{
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: 0.5s;
  &:hover{
    background: rgb(238, 238, 238);
  }
  }
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;

  .cart-icon-navigation-container {
    display: flex;
    flex-direction: row;
    .price-icon-value {
      font-size: 14px;
      color: dodgerblue;
    }
  }

  li {
    flex: 1 1 auto;
    margin: 0;
    text-align: center;
    white-space: nowrap;

    a {
      border: 0;
      display: flex;
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      text-decoration: none;

      &:hover {
        color: dodgerblue;
      }
    }
  }
}
